testchecker
*.gcda
*.gcno
*.gcov
*.info
*.html
AddVareity/.vs/AddVareity/v16/Browse.VC.db
AddVareity/.vs/AddVareity/v16/Browse.VC.db-shm
AddVareity/.vs/AddVareity/v16/Browse.VC.db-wal
AddVareity/.vs/AddVareity/v16/Browse.VC.opendb
AddVareity/.vs/AddVareity/v16/.suo
AddVareity/AddVareity.sln
AddVareity/Debug/AddVareity.log
AddVareity/.vs/AddVareity/v16/ipch/AutoPCH/39a9a25d691806a/TEST-ALERTS.ipch
AddVareity/.vs/AddVareity/v16/ipch/AutoPCH/4d5ab183069e106f/TYPEWISE-ALERT.ipch
AddVareity/AddVareity.vcxproj
AddVareity/AddVareity.vcxproj.filters
AddVareity/AddVareity.vcxproj.user
AddVareity/Debug/AddVareity.exe
AddVareity/Debug/AddVareity.exe.recipe
AddVareity/Debug/AddVareity.ilk
AddVareity/Debug/AddVareity.pdb
AddVareity/Debug/AddVareity.tlog/AddVareity.lastbuildstate
AddVareity/Debug/AddVareity.tlog/CL.command.1.tlog
AddVareity/Debug/AddVareity.tlog/CL.read.1.tlog
AddVareity/Debug/AddVareity.tlog/CL.write.1.tlog
AddVareity/Debug/AddVareity.tlog/link.command.1.tlog
AddVareity/Debug/AddVareity.tlog/link.read.1.tlog
AddVareity/Debug/AddVareity.tlog/link.write.1.tlog
AddVareity/Debug/AddVareity.vcxproj.FileListAbsolute.txt
AddVareity/Debug/test-alerts.obj
AddVareity/Debug/typewise-alert.obj
AddVareity/Debug/vc142.idb
AddVareity/Debug/vc142.pdb
