testchecker
*.gcda
*.gcno
*.gcov
*.info
*.html
AddVareity/.vs/AddVareity/v16/Browse.VC.db
AddVareity/.vs/AddVareity/v16/Browse.VC.db-shm
AddVareity/.vs/AddVareity/v16/Browse.VC.db-wal
AddVareity/.vs/AddVareity/v16/Browse.VC.opendb
AddVareity/.vs/AddVareity/v16/.suo
AddVareity/AddVareity.sln
AddVareity/Debug/AddVareity.log
